@keyframes bg-image {
    0% {background-image: url('https://github.com/lauderdaleerin/Portfolio/blob/main/images/bg-pattern.png?raw=true');}
    50% {background-image: url('https://github.com/lauderdaleerin/Portfolio/blob/main/images/bg-pattern2.png?raw=true');}
    100% {background-image: url('https://github.com/lauderdaleerin/Portfolio/blob/main/images/bg-pattern3.png?raw=true');}
}

body {
    animation-name: bg-image;
    animation-delay: 1s;
    animation-duration: 4s;
}

@keyframes logo {
    0% {
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%) scale(150%);;
    }

    90% {
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%) scale(150%);;
    }

    100% {
        transform: translateY(0%) translateX(0%)
    }
}

.logo {
    animation: logo 6s ease-in-out normal forwards;
 
}