:root {
  --yellow: #ffea30;
  --green: #a1dd70;
  --blue: #00bdaa;
  --purple: #a45fe6;
}
body {
  background-color: #ffffff;
  margin: 0;
}
section {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2.5rem;
  color: black;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  color: black;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.75rem;
  color: black;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
h4 {
  font-family: 'Josefin Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.6rem;
  color: black;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
h5 {
  font-family: 'Josefin Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
  font-size: 1.75rem;
  color: black;
  margin-block-start: 0;
  margin-block-end: 0;
}
h6 {
  font-family: 'Josefin Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
  color: black;
  margin-block-start: 0;
  margin-block-end: 0;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  color: black;
}
.c {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  color: black;
  text-align: center;
}
li {
  font-family: 'Josefin Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  color: black;
}
a {
  color: black;
  text-decoration: none;
}

.desktop-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;
  align-items: flex-end;
}

.menu {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 2rem;
}
.menu a {
  color: black;
  text-decoration: none;
}

.menu li {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.menu-item {
  display: flex;
  background-color: var(--yellow);
  width: auto;
  height: 0.5rem;
  margin-top: -1rem;
}

.menu-text {
  position: relative;
  top: 0;
  transition: top ease 0.2s;
}

.menu-text:hover {
  top: -0.5rem;
}

.mobile-header-cont {
  display: none;
}

.page-content {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}

.inner-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  max-width: 1200px;
}

.main-heading {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}
.main-heading h1 {
  z-index: 2;
}

.g-box {
  background-color: var(--green);
  width: auto;
  height: 1rem;
  margin-top: -1.5rem;
  z-index: 1;
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-height: 15em;
  margin-top: 6em;
  max-width: 1000px;
}
.headshot {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  object-fit: cover;
}
.headshot img {
  display: flex;
  height: 100%;
  width: auto;
  max-width: 25em;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 50%;
  text-align: end;
  align-items: flex-end;
}

.g-btn {
  cursor: pointer;
  background-color: var(--green);
  border-radius: 0;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
  padding: 0.5rem;
  border: 0;
  box-shadow: 0.25rem 0.25rem rgba(0, 0, 0, 0.35);
  transition: ease 0.2s;
}
.g-btn:hover {
  background-color: var(--blue);
  box-shadow: inset 0.25rem 0.25rem rgba(0, 0, 0, 0.35);
}
.circle {
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5em;
}

.g-btn-alt {
  cursor: pointer;
  background-color: var(--green);
  border-radius: 0;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
  padding: 0.5rem;
  border: 0;
  box-shadow: 0.25rem 0.25rem rgba(0, 0, 0, 0.35);
  transition: ease 0.2s;
}
.g-btn-alt:hover {
  background-color: var(--purple);
  box-shadow: inset 0.25rem 0.25rem rgba(0, 0, 0, 0.35);
}
.b-btn {
  cursor: pointer;
  background-color: var(--blue);
  border-radius: 0;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
  padding: 0.5rem;
  border: 0;
  box-shadow: 0.25rem 0.25rem rgba(0, 0, 0, 0.35);
  transition: ease 0.2s;
}
.b-btn:hover {
  background-color: var(--purple);
  box-shadow: inset 0.25rem 0.25rem rgba(0, 0, 0, 0.35);
}

.fit {
  width: max-content !important;
  align-self: flex-start;
}

.p-highlight {
  color: var(--purple);
}

.y-hero-box {
  display: flex;
  position: relative;
  background-color: var(--yellow);
  height: 18em;
  width: 140%;
  z-index: -1;
  margin-top: -18em;
}
.b-img-box {
  display: flex;
  position: relative;
  background-color: var(--blue);
  height: 8em;
  width: 100%;
  z-index: -1;
  margin-top: -40%;
}

.page-header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  margin-bottom: 3em;
}
.page-header h1 {
  z-index: 2;
}

.y-box {
  background-color: var(--yellow);
  width: auto;
  height: 0.5rem;
  margin-top: -1rem;
  z-index: -1;
}

.g-box-s {
  background-color: var(--green);
  width: auto;
  height: 0.5rem;
  margin-top: -0.5em;
  z-index: 1;
}

.content-row {
  display: flex;
  flex-direction: row;
  gap: 2em;
  width: 100%;
}

.perm-row {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  width: 100%;
}
.single-row {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 80%;
}

.row-reverse {
  flex-direction: row-reverse;
}

.center-align {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
.justify-even {
  justify-content: space-evenly;
}

.content-column {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
}
.services-width {
  width: 33%;
}

.about-text {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.subheader {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3em;
}
.subheader h2,
h3 {
  z-index: 2;
}

.subheader-content {
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: end;
  z-index: 2;
}
.subheader-content img {
  height: 100%;
  object-fit: contain;
}
.about-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.skills-bubbles {
  margin-top: 3em;
  margin-bottom: 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: ease 0.2s;
}

.bubble {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.p-circle {
  display: flex;
  width: fit-content;
  aspect-ratio: 1/1;
  height: auto;
  padding: 10px;
  background-color: var(--purple);
  border-radius: 50%;
  box-shadow: 0.25rem 0.25rem rgba(0, 0, 0, 0.35);
  transition: ease 0.2s;
}

.p-circle img {
  width: 25px;
}

.hidden-txt {
  display: none;
  position: relative;
  transform: translate(-10%);
  transition: ease 0.2s;
  justify-content: center;
  align-items: center;
}
.contact {
  justify-content: start !important;
  gap: 3em;
}

.b-section {
  width: 100%;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
}
.g-section {
  width: 100%;
  background-color: var(--green);
  display: flex;
  flex-direction: column;
}
.y-section {
  width: 100%;
  background-color: var(--yellow);
  display: flex;
  flex-direction: column;
}

.thumbnail {
  filter: drop-shadow(0.25rem 0.25rem rgba(0, 0, 0, 0.35));
  width: 100%;
  max-width: 18em;
  align-self: center;
}

.portfolio-slider {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80vh;
}

.slider-btn {
  background-color: var(--green);
  border-radius: 50%;
  box-shadow: 0.25rem 0.25rem rgba(0, 0, 0, 0.35);
  border: none;
  width: 3.5em;
  aspect-ratio: 1/1;
  transition: ease 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -50%;
}
.slider-btn img {
  object-fit: fill;
  width: 80%;
  height: 80%;
}

.slider-btn:hover {
  box-shadow: none;
  background-color: var(--blue);
}

.pslide {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 25%;
  max-width: 370px;
  opacity: 100%;
  transition: ease 0.5s;
  justify-content: center;
  align-items: center;
}

.pslide:hover {
  opacity: 100%;
  width: 26%;
}

.pthumbnail {
  width: 100%;
}
.pthumbnail > img {
  width: 100%;
  object-fit: cover;
  box-shadow: 0.25rem 0.25rem rgba(0, 0, 0, 0.35);
}

.inactive {
  opacity: 60%;
  scale: 80%;
}

.cs-mockups {
  display: flex;
  flex-direction: row;
  gap: -5em;
  justify-content: center;
  width: 100%;
}
.phone-mockup {
  width: 25%;
  margin-right: -11em;
  margin-top: 4em;
  object-fit: contain;
  z-index: 2;
}
.laptop-mockup {
  width: 60%;
  object-fit: contain;
}
.cs-sec {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  gap: 1.5em;
}

.return {
  position: fixed;
  right: 2em;
  bottom: 2em;
}

.y-box-cs {
  background-color: var(--yellow);
  width: auto;
  height: 0.5rem;
  margin-top: -2.5rem;
  z-index: -1;
}

.cs-img {
  display: flex;
  align-self: center;
}
.cs-img img {
  object-fit: contain;
  width: 100%;
}
.cs-iter {
  width: 70%;
}
.m-half {
  margin-bottom: 0.5em;
}

.cs-desc {
  width: 160%;
}
.cs-desc-s {
  width: 120%;
}

.b-shadow {
  box-shadow: -1em -1em var(--blue);
}

.g-shadow {
  box-shadow: 1em 1em var(--green);
}

/* CS SLIDER */

.cs-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.cs-slide {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.slider-img {
  display: flex;
  height: 50vh;
  align-self: center;
}

.slider-img img {
  object-fit: contain;
  width: 100%;
  filter: drop-shadow(0.25rem 0.25rem rgba(0, 0, 0, 0.35));
}
.mini-img {
  width: 30%;
}
.slider-img img {
  max-width: 100%;
}

.cs-slider-btns {
  position: absolute;
  max-width: 1200px;

  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20em;
}

.cs-slider-thumbnails {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  justify-content: center;
}
.slider-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5em;
  height: 3em;
  overflow: hidden;
  object-fit: contain;
  cursor: pointer;
}
.slider-thumb img {
  width: 100%;
}

.border-y {
  border: 3px solid var(--yellow);
}
.border-p {
  border: 3px solid var(--purple);
}

.hidden {
  display: none;
}

.cblmft-edit {
  display: flex;
  flex-direction: row;
  gap: 2em;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.cblmft-edit img {
  width: 15%;
}

@media (max-width: 39em) {
  .page-content {
    margin-left: 0;
    margin-right: 0;
  }
  .mobile-header-cont {
    display: block;
  }
  .mobile-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4%;

    align-items: flex-end;
  }
  .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green);
    width: 2.5rem;
    aspect-ratio: 1/1;
    padding: 2%;
    border-radius: 50%;
    box-shadow: 0.25rem 0.25rem rgba(0, 0, 0, 0.35);
  }
  .hamburger img {
    width: 2.25rem;
  }
  .mobile-menu {
    display: none;
    flex-direction: column;
  }

  .mobile-menu a {
    color: black;
    text-decoration: none;
  }

  .mm-item {
    display: flex;
    height: 0;
    justify-content: flex-end;
    background-color: var(--yellow);

    padding: 1rem;
    transition: ease 0.25s;
  }
  .mm-item:active {
    background-color: var(--purple);
  }

  .desktop-header {
    display: none;
  }

  .page-header h1 {
    margin-left: 10%;
  }

  .content-row {
    flex-direction: column;
    align-items: center;
  }

  .about-img {
    width: 100%;
  }

  .about-text {
    width: 100%;
  }
  .about-text p {
    margin-left: 10%;
    margin-right: 10%;
  }
  .about-text li {
    margin-left: 10%;
    margin-right: 10%;
  }
  .subheader-content {
    margin-left: 10%;
    margin-right: 10%;
  }
  .skills-bubbles {
    margin-left: 10%;
    margin-right: 10%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 3em;
  }
  .pslide {
    display: block;
    position: relative;
    transform: none !important;
    width: 90%;
    left: 0;
    top: 0;
  }
  .inactive {
    opacity: 100%;
    scale: 100%;
  }
  .portfolio-slider {
    align-items: start;
  }

  .pslider-btn {
    display: none;
  }
  .cs-desc {
    width: 90%;
  }
  .cs-desc-s {
    width: 90%;
  }
  .single-row {
    width: 90%;
  }
  .cs-img {
    width: 80%;
    align-self: center;
  }

  .cs-slider-thumbnails {
    display: none;
  }
  .cs-slider {
    width: 70%;
  }
  .cs-slider-btns {
    width: 98%;
  }
  .slider-img {
    width: 70%;
  }
  .perm-row {
    gap: 1em;
  }
  .content-column {
    gap: 1em;
  }
}
