:root {
  --med-purple: #51376a;
  --dk-purple: #251732;
  --med-green: #457370;
  --dk-green: #003938;
}

body {
  background-image: url('https://github.com/lauderdaleerin/Portfolio/blob/main/images/bg-pattern3.png?raw=true');
}
a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3 {
  font-family: 'Advent Pro', sans-serif;
  color: white;
  margin-block-start: 0;
  margin-block-end: 0;
}
h4 {
  font-family: 'Ruda', sans-serif;
  color: white;
  text-decoration: underline;
}

p,
li,
ul,
a,
a:visited a:hover a:link {
  font-family: 'Ruda', sans-serif;
  color: white;
  text-decoration: none;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.logo {
  position: fixed;
  display: block;
  top: 10px;
  right: 10px;
  width: 10%;
  height: auto;
  min-width: 150px;
}

.hidden {
  display: none !important;
}
.page {
  display: flex;

  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.content {
  margin-top: 10vh;
  margin-bottom: 15vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 700px;
  gap: 30px;
  margin-left: 10%;
  margin-right: 10%;
}

.flexrow {
  display: flex;
  flex-direction: row;
  gap: 1em;
  width: 100%;
}

.main-img {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  width: 75%;
}

/* CONTENT BOXES */
.title,
.btn {
  white-space: nowrap;
  width: max-content !important;
  transition-duration: 1s;
}
.btn:hover {
  background-color: var(--dk-purple);
  box-shadow: none;
}

.ltpurpbox {
  display: flex;
  flex-direction: column;
  background-color: var(--med-purple);
  border-radius: 11px;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--med-green);
}
.dkpurpbox {
  display: flex;
  flex-direction: column;
  background-color: var(--dk-purple);
  border-radius: 11px;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--dk-green);
}
.ltgrbox {
  display: flex;
  flex-direction: column;
  background-color: var(--med-green);
  border-radius: 11px;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--med-purple);
}
.dkgrbox {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--dk-green);
  border-radius: 11px;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--dk-purple);
}

.line {
  display: flex;
  position: relative;
  height: 10px;
  width: 100%;
  background-color: var(--dk-green);
  border-radius: 11px;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
  align-self: center;
}

/* INDEX */
.index-img {
  display: flex;
  -webkit-filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.25));
  width: 75%;
  height: auto;
}
/* ABOUT */

.about-content {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.about-img {
  display: flex;
  width: 50%;
}
.about-img img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
}

.about-text {
  display: flex;
  width: 45%;
  flex-direction: column;
  gap: 1em;
}

/* NAVIGATION */
.nav {
  background-color: #251732;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
  color: white;
  font-family: 'Advent Pro', sans-serif;
  font-size: 1.5rem;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 4;
  justify-content: center;
  align-items: center;

  transition: 1s;
}

.nav-close {
  bottom: -14em;
}

.nav-arrow {
  display: flex;
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
}

.nav-content {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  text-align: center;
}
.nav-linK {
  text-decoration: none;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: cover;
  z-index: 3;
}

.desktop {
  display: none;
}

@media (min-width: 768px) {
  /* INDEX */
  .index-img {
    width: 30%;
  }
  /* ABOUT */
  .about-content {
    display: flex;
    flex-direction: row;
  }

  /* NAVIGATION */
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
  .nav {
    height: 100%;
    width: max-content;
    flex-direction: row-reverse;
  }
  .nav-content {
    padding: 3rem;
  }
  .nav-links {
    gap: 3rem;
  }
  .nav-close {
    bottom: 0;
    left: -10em;
  }
  .nav-close:hover {
    left: -9.5em;
  }
}
