.subheader {
    font-family: 'Ruda', 'Sans Serif';
    text-decoration: underline;
    color: white;
    font-size: 20px;
}

.navarrow {
    background-color: var(--dk-green);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
}


.pmbahero {
    margin-top: -35%;
    

}

.contentgreen {
    position: relative;
    background-color: var(--dk-green);
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
    width: 100%;

}

.contentmedp {
    position: relative;
    background-color: var(--med-purple);
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
    width: 100%;

}

.sectionh1 {
        background-color: var(--med-purple);
        box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);

}

.sectionh2 {
    background-color: var(--dk-purple);
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);

}

.sectionh3 {
    background-color: var(--med-purple);
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);

}

.sectionh4 {
        background-color: var(--dk-green);
        box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
        width: max-content;
        text-align: center;

    
}

.csimage {
    width: 50%;
    min-width: 250px;
    margin-left: auto;
    margin-right: auto;
}


.thirds {
    width: 30%;
    height: auto;
}

.twothird {
    width: 64%;
    height: auto
}

.half {
    width: 45%;
    height: auto;
}

.map1 {
    width: 50%;
    height: 100%;
}

.map2 {
    width: 35%;
    height: auto;
}

.stackedrow {
    margin-top:-50%;
}

.bg-medp {
    background-color: var(--med-purple);
    height: 100%;
}

.hard-shadow {
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
}