.subheader {
    font-family: 'Ruda', 'Sans Serif';
    text-decoration: underline;
    color: white;
    font-size: 20px;
}

.navarrow {
    background-color: var(--dk-green);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
}

.contentgreen {
    position: relative;
    background-color: var(--dk-green);
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);

    margin-bottom: 10vh;
    width: 100%;
    max-width: 75%;
}

.contentmedp {
    position: relative;
    background-color: var(--med-purple);
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 10vh;
    width: 100%;
    max-width: 75%;
}

.sectionh1 {
        background-color: var(--med-purple);
        box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);

}

.sectionh2 {
    background-color: var(--dk-purple);
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
    margin-left: 10%;
}

.csimage {
    width: 50%;
    min-width: 250px;
    margin-left: auto;
    margin-right: auto;
}