.skillsheader {
    font-family: 'Ruda', 'Sans Serif';
    text-decoration: underline;
    color: white;
    font-size: 18px;
}

.mgcontent {
        position: relative;
        background-color: var(--med-green);
        box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
}

.dgcontent {
    position: relative;
    background-color: var(--dk-green);
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
}