:root {
    --med-purple: #51376A;
    --dk-purple: #251732;
    --med-green: #457370;
    --dk-green: #003938;

}

h1, h2, h3 {
    font-family: 'Abel', 'Sans Serif';
    color: white;
}

h4, a, a:visited a:hover a:link {
    font-family: 'Ruda', 'Sans Serif';
    color: white;
    text-decoration: underline;
}

p {
    font-family: 'Ruda', 'Sans Serif';
    color: white;
}