:root {
    --med-purple: #51376A;
    --dk-purple: #251732;
    --med-green: #457370;
    --dk-green: #003938;

}




h1, h2, h3 {
    font-family: 'Abel', 'Sans Serif';
    color: white;
}




h4, a, a:visited a:hover a:link {
    font-family: 'Ruda', 'Sans Serif';
    color: white;
    text-decoration: underline;
}




p {
    font-family: 'Ruda', 'Sans Serif';
    color: white;
}

@keyframes bg-image {
    0% {background-image: url('/images/bg-pattern.png');}
    50% {background-image: url('/images/bg-pattern2.png');}
    100% {background-image: url('/images/bg-pattern3.png');}
}

body {
    background-image: url('/images/bg-pattern3.png');
    animation-name: bg-image;
    animation-delay: 1s;
    animation-duration: 4s;
}

@keyframes logo {
    0% {
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }

    90% {
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }

    100% {
        top: 5px;
        right: 5px;
        transform: translateY(0%) translateX(0%) scale(60%);
    }
}

.logo {
     position: fixed;
    display: block;
    width: 25%;
    height: auto;
    min-width: 200px;
    animation: logo 6s ease-in-out normal forwards;
 
}